html {
    scroll-behavior: smooth
}

html, body 
{
	margin:0;
	padding:0;
	height: 100%;
}

body
{
	/*font-family:Helvetica;*/
	font-family: 'Roboto', sans-serif;
}

.content
{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	padding-left:10%;
	padding-right:10%;
	padding-bottom:5%;
	padding-top:1%;
}

h1
{
	font-family: 'Roboto', serif;
	text-align:center;
	
}

.home h2
{
	font-family: 'Roboto', serif;
	margin-top:0;
	font-size:1.2rem;
}

h3
{
	margin-bottom:0;
}

.exhibit
{
	padding-left:5%;
	padding-top:2%;
	padding-bottom:2%;
}

blockquote
{
	font-style:italic;
	border-left-width:4px;
	border-left-style:solid;
	border-left-color:#033570;
	padding-left:1%;
	padding-top:1%;
	padding-bottom:1%;
}

blockquote b
{
	color:#033570;
}

h3
{
	color:#2B2B2B;
}

.center
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

table
{
	width:70%;
	border-color:#033570;
	border-width:1px;
	border-style:solid;
	margin-top:1%;
	border-spacing:0;
}

table.responsive
{
	width:100%;
}

@media screen and (max-width:1100px)
{
	table
	{
		width:100%
	}
}

@media screen and (max-width:410px)
{
	table.unresponsive
	{
		display:none;
	}
	
	table.responsive
	{
		display:block;
		margin-top:10%;
	}
	
	blockquote
	{
		margin-left:0;
	}
	
	li
	{
		margin-top:5%;
	}
}

@media screen and (max-width:950px)
{
	#storyboard
	{
		width:100%
	}
}

@media screen and (max-width:710px)
{
	img.unresponsive
	{
		display:none;
	}
	
	img.responsive
	{
		display:block;
	}
}

td
{
	text-align:left;
	vertical-align:top;
	padding-left:1%;
	padding-right:2%;
	padding-top:1%;
	padding-bottom:1%;
	border-color:#033570;
	border-width:1px;
	border-style:solid;
}

.colheadings td
{
	font-weight:bold;
	color:#033570;
}

.tablename
{
	text-align:center;
	font-size:1.5rem;
	background:#033570;
	color:#fff;
	
}

/*========================================== Navbar ============================================================*/
#navbar
{
	background:#fff;
	color:#812F88;
	padding-top:1%;
	padding-bottom:1%;
}

#links
{
	text-align:right;
	float:right;
	width:70%;
	padding-top:8px;
	
}

#logo
{
	display: inline-block;
	text-align:left;
	position:relative;
}

#logo a
{
	color:#812F88;
	text-decoration:none;
	font-family:'Arial';
	margin-left:1%;
	font-size:16pt;
}

#navbar #links ul
{
	display:inline;
	list-style-type:none;
}

#navbar #links li
{
	display:inline;
	margin-right:2%;
	margin-left:2%;
}

#navbar li a
{
	color:#812F88;
	text-decoration:none;
}

#navbar #links li a:hover
{
	color:#BB1553;
	text-decoration:underline;
}

#navbar ul .selected,
#navbar ul li a.selected
{
	color:#BB1553;
	font-weight:bold; 
}

.hamburger {
    display: none;
    cursor: pointer;
	float:right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #5A76C0;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#mobmenu
{
	display:none;
	text-align:right;	
}

#mobmenu ul li
{
	display:block;
	list-style-type:none;
	margin-top:3%;
	margin-bottom:3%;
	font-size:1.2rem;
}

.change #mobmenu
{
	display:block;
}

@media screen and (max-width:800px)
{
	#navbar li
	{
		display:inline;
		margin-right:3%;
		margin-left:3%;
	}
}

@media screen and (max-width:450px)
{
	#navbar li
	{
		display:inline;
		margin-right:3%;
		margin-left:3%;
	}
	
	#links
	{
		width:90%;
	}
}

@media screen and (max-width:365px)
{
	.hamburger
	{
		display:inline-block;
	}
	
	#links
	{
		display:none;
	}
}

@media screen and (min-width:366px)
{
	.hamburger
	{
		display:none;
	}
	
	#mobmenu ul
	{
		display:none;
	}
}




/*========================================== Hero Image ============================================================*/

#hero
{
	height:100%;
	/*background-size:auto;*/
	text-align:center;
	vertical-align:middle;
	position:relative;
}

.home #hero
{
	background: #1A1A1A url("lenscropped.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pi #hero
{
	background: #1A1A1A url("tools2.jpg") left center/cover no-repeat !important;
	height:60%;
}

#headline
{
	display:inline-block;
	color:#fff;
	font-size:2rem;
	position:relative;
	top:30%;
	text-shadow: 2px 2px #000;
	left:5%;
}

#headline h1
{
	margin:0;
	font-size:3rem;
}

#headline h2
{
	margin:0;
	font-size:2rem;
	font-weight:lighter;
}

.responsive
{
	display:none;
}

@media screen and (max-width:329px)
{
	.pi #headline h2
	{
		display:none;
	}
	
	.pi h1 
	{
		display:block;
	}
}

@media screen and (max-height:335px)
{
	.pi #headline h2
	{
		display:none;
	}
	
	.pi h1 
	{
		display:block;
	}
}

@media screen and (max-width:800px)
{

	.pi #hero
	{
		height:50%
	}
	
	#headline h2
	{
		font-weight:normal;
	}
}


/*========================================== Work ============================================================*/

#work
{
	background:#EFF1DF;
}

#work h1
{
	color:#35488B;
}

.case
{
	display:block;
	width:30%;
	margin:0 auto;
	margin-bottom:3%;
}

.caseswrapper
{
	display: block;
	width:100%;
}

.case img
{
	display:block;
	width:100%;
}

.case a
{
	color:#488A96;
	text-decoration:none;
	font-weight:bold;
	display:block;
	font-size: 1.2rem;
}

.description 
{
	display:block;
	vertical-align:top;
	font-size:1rem;
	width:100%;
}

.case .description p ul
{
	padding-top:0;
}

.button
{
	background-color: #5A76C0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.button.cta
{
	font-size:1.5rem;
}

.button:hover
{
	background:#375094;
}

@media screen and (max-width:1121px)
{
	.case
	{
		width:50%;	
	}
	
}

@media screen and (max-width:630px)
{
	.case
	{
		width:100%;
	}
}

/*========================================== About ============================================================*/

#about
{
	/*background:#F0F0F0;*/
	background-image:url("lensground1.jpg");
	color:#fff;
	padding-top:2%;
	
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about img
{
	width:20%;
	display:inline-block;
	margin-right:5%;
	border-radius: 50%;
}

#about .description
{
	width:66%;
	display:inline-block;
}

@media screen and (max-width:450px)
{

	#about
	{
		text-align:center;
	}
	
	#about img
	{
		width:100%;
	}
	
	#about ul
	{
		list-style-type:none;
	}
	
	#about li
	{
		margin-bottom:15px;
		padding-left:0;
		margin-left:-40px;
	}
}

@media screen and (max-width:700px)
{

	#about
	{
		text-align:center;
	}
	
	#about img
	{
		width:50%;
	}
	
	#about .description
	{
		width:100%;
	}
}

@media screen and (max-width:400px)
{	
	#about img
	{
		width:100%;
	}
	
		#about
	{
		text-align:left;
	}
	
	#about .description
	{
		width:100%;
	}
}

/*========================================== Philosophy ============================================================*/

#philosophy
{
	background:#35488B;
	color:#fff;
}

.designvalue
{
	display:inline-block;
	text-align:center;
	width:23%;
	vertical-align:top;
	margin-left:5%;
	margin-right:5%;
}

@media screen and (max-width:1185px)
{
	#philosophy .designvalue
	{
		width:100%;
		margin-bottom:30px;
		margin-left:0;
		margin-right:0;	
	}
}

/*========================================== Contact ============================================================*/

#contact
{
	background: #1a1a1a;
	color:#fff;
	text-align:center;
}

#contact img
{
	margin-right:10px;
}

/*========================================== PI ============================================================*/

.pi .content h2
{
	color:#35488B;
}

.pi #work
{
	background:#fff;
}

.pi #diagram
{
	width:50%;
	display:block;
	padding-top:1%;
	padding-bottom:1%;
}

img.responsive
{
	width:100%;
}


@media screen and (max-width:1100px)
{
	
	.pi #diagram
	{
		width:60%;
	}
}

@media screen and (max-width:900px)
{
	
	.pi #diagram
	{
		width:80%;
	}
}

@media screen and (max-width:700px)
{
	
	.pi #diagram
	{
		width:100%;
	}
	
}

@media screen and (max-width:550px)
{
	.pi #diagram
	{
		display:none;
	}
	
	.pi ul.responsive
	{
		display:inline-block;
	}

}

.unresponsivetext
{
	display:inline;
}

@media screen and (max-width:400px)
{
	.unresponsivetext
	{
		display:none;
	}

}
